###### List of python libraries required for this project ######
## To install, run the following command:
# pip -r requirements.txt

click>=7.1.2
filehash>=0.1.dev5
jsonschema>=3.2.0
requests>=2.24
python-gnupg>=0.4.7

pytest>=6.2.3
pytest-cov>=2.11.1
pytest-optional-tests>=0.1.1
